@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body{
    height: 400vh;
    background: black;
}

/* NAVBAR */
#home{
    height: 100vh;
}
nav{
    background: rgba(1,1,1,0.5) ;

    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 10px 200px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: 0.6s  ;
}

nav .logo{
    font-weight: bold;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.5em;
    transition: 0.6s ease-in;

}

nav ul{
    display: flex;
    list-style: none;
}

nav ul a{
    font-weight: 500;
    text-decoration: none;
    margin-left: 20px;
    color: white;
    transition: 0.6s;
}

a:hover{
    color: #16B6FB;
}

.bg-img{
    position: relative;
    background: url("images/bg-img.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    filter: blur(1px);
}

nav.sticky{
    position: fixed;
    padding: 0px 200px;
    background:white;
    height: 7vh;
    transition: 0.6s ease-in;
    z-index: 1000;
    box-shadow: 2px 3px 18px #888888;
}

nav.sticky .logo{
    color: black;
    font-weight: bold;
}

nav.sticky ul a{
    color: black;
    font-weight: 600;
}

nav.sticky ul a:hover{
    color: #16B6FB;
}

/* BODY CONTENT */
section.body-box{
    display: flex;
    color: white;
    position: absolute;
    top: 30%;
    left: 8%;
    justify-content: space-between;
    padding-right: 10%;
    height: 60vh;
    
}

/* BODY IMAGE */
.right-body{
    position: relative;
    transform: translateY(-10%);
    max-width: 40%;
    height: auto;
    border-radius: 50%;
    min-width: 200px;
}


.left-body h3{
    font-family: 'Courier Prime', monospace;;
    font-weight: 400;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.left-body .title{
    font-weight: 600;
    font-size: 4em;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.left-body .body-desc,p{
    line-height: 1.5;
    font-size: 1.5em ;
    max-width: 550px;
}


.left-body .cta,.view-more,.resume-btn{
    position: relative;
    margin-top: 20px;
    padding: 10px 20px;
    color: white;
    background: #16B6FB;
    font-weight: 500;
    font-size: 1.3em;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    z-index: 0;
}

.left-body .cta:hover{
    cursor: pointer;
    /* background: linear-gradient(#EB4677,#994DC5); */
    background: linear-gradient(#a8ff78,#78ffd6);
    color: black;
}

/* ABOUT SECTION */

.about-me{
    height: 80vh;
    /* max-height: fit-content; */
    padding: 5% 8% 6% 8%;
    text-align: center;
    background: white;
}

.about-title{
    margin-bottom: 3%;
    font-weight: 600;
    font-size: 2em;
}

.about-content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-align: start;

}

.about-content h1{
    margin-bottom: 30px;
}

.about-content p{
    font-size: 1em;
    font-weight: 500;
   
}

.about-content img{
    width: 50%;
}
/* SKILLS SECTION & WORK STYLES */

.skills,.work{
    /* background: black; */
    width: 100%;
    height: 120vh;
    padding: 8% 6% 8% 6%;
    color: white;
    text-align: center;
    
}

.skills h1,.contact h1{
    font-size: 2.3em;
    font-weight: 500;
    
}

.skills p,.work p,.resume p{
    font-size: 1em;
    display: inline;
    position: relative;
    top: 15px;
}


.skill-grid,.work-grid{
    margin-top: 10vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr; */
    grid-gap: 100px 50px;
    /* height: 70vh; */
}

.skill-grid .card,.work-grid .card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
    padding: 20px;
    height: 250px;
    
}

.skill-grid .card:hover,.work-grid .card:hover{
    /* background: linear-gradient(#EB4677,#994DC5); */
    /* background: linear-gradient(#59C173,#a17fe0,#5D26C1); */
    /* background: linear-gradient(#8A2387,#E94057,#F27121); */
    /* background: linear-gradient(#FF416C,#FF4B2B); */
    background: linear-gradient(#a8ff78,#66d8b6);
    color: black
    
}

.skill-grid .card .card-img{
    align-self: center;
    max-width: 100px;
}


.skill-grid .card .card-text,.work-grid .card .card-text{
    align-self: center;
   
}

/* WORK SECTION */

#work{
    height: 110vh;
    background: white;
    color: black;
}

.work h1{
    font-size: 2.5em;
    font-weight: 600;
}

.work-grid{
    grid-gap: 50px 50px;
}

.view-more{
    margin-top: 30px;
}

/* RESUME SECTION */


.resume{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 40vh;
    background: white;
}

.resume h2{
    font-size: 2.5rem;
    font-weight: 500;
}
.resume p{
    margin-bottom: 20px;
}
.resume-btn{
    margin: 20px;
}

.contact{
   text-align: center;
    width: 100%;
    height: 90vh;
    color: black;
    color: white;
    padding: 6% 5% 6% 5%;
}

.contact h5{
    font-weight: 400;
    font-size: 1.5em;
    margin: 20px;
}


.contact-main{
    margin-top: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.contact-left{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
}

.contact-item{
    text-align: start;
    display: flex;
    align-items: flex-start;
}

.contact-text{
    margin-left: 15px;
}

.contact-text h3{
    font-weight: 500;
    font-size: 1.5em;
    color:#16B6FB ;
}

.contact-text p{
    font-weight: 400;
    font-size: 0.7em;
}


.contact-left .contact-item .contact-icon{
    width: 30px;
    height: 30px
}

.view-more:hover,.resume-btn:hover{
    background:#128fc4 ;
    cursor: pointer;
}



